.fondo{
    background-image: url(./../img/fondo.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto-color{
    color: white;
}

.texto-centrar{
    text-align: center;

}
.menu{
    display: inline;
    font-size: 20px;
    background-color: white;
    width:max-content;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-top: 5px;
    border-color: white;
    border-style:double;
    transition: all 5s;
}

.menu a:hover{
    font-size: 110%;
}


.texto-fondo-blanco{
    background-color: white;
    border-color:black;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-top: 5px;
    width:max-content;


}

.cv-titulos{
    
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-right: 200px;
    margin-left: 200px;
    justify-content: space-around;

}

.cv-contenido{
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.footer{
    text-align:start
}

.credenciales-alineacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#web-index{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 15% 15% 55% 15%;
    height: 100vh;
    grid-template-areas: 
    "header header"
    "index-menu index-menu"
    "index-contacto index-contacto"
    "footer footer"
    ;
}



section#web-index-menu{
    grid-area: index-menu;
}
#web-index-contacto{
    grid-area: index-contacto;
}

header{
    grid-area: header;
}




footer{
    grid-area: footer;
}


#web-proyecto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 15% 15% 30% 25% 15%;
    height: 100vh;
    grid-template-areas: 
    "header header"
    "proyecto-menu proyecto-menu"
    "proyecto-image proyecto-image"
    "proyecto-titulos proyecto-titulos"
    "footer footer"
    ;
}

#web-proyecto-menu{
    grid-area: proyecto-menu;
}

#web-proyecto-titulos{
    grid-area: proyecto-titulos;
    height: 100px;
    transition: all 2s;
}

#web-proyecto-titulos:hover{
    font-size: 150%;
}




#web-proyecto-image{
    grid-area: proyecto-image;
}

#web-cv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 15% 15% 55% 15%;
    height: 100vh;
    grid-template-areas: 
    "header cv-image"
    "cv-menu cv-image"
    "cv-titulos cv-image"
    "footer footer"
    ;
}




#web-cv-menu{
    grid-area: cv-menu;

}

#web-cv-image{
    grid-area: cv-image;
}
#web-cv-titulos{
    grid-area: cv-titulos;
}

#web-credenciales{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 15% 5% 55% 15%;
    height: 100vh;
    grid-template-areas: 
    "header"
    "credenciales-menu"
    "titulo"
    "curso"
    "footer"
    ;
}

#web-credenciales-cursos{
    grid-area: cursos;

}



@media(max-width: 1024px){

    section#web-credenciales-titulo{
        color: red;
    }

    #web-credenciales{
        color: green;
    }

    #web-credenciales-cursos{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        height: 100vh;
        grid-template-areas: 
        "dw js"
        "qa none";
    }

    #web-cv{
    
        grid-template-columns: 1fr;
        grid-template-rows: 15% 15% 25% 30% 15%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "cv-menu"
        "cv-titulos"
        "cv-image"
        "footer"
        ;
    }

    #cv-imagen{
        width: 300px;
        height: 300px;
    }


}

#web-credenciales-cursos{
    grid-area: curso;
    display: flex;
    flex-flow:row;
    height: 100vh;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "dw js qa";
}

#web-credencial-DW{
    grid-area: dw;
}
#web-credencial-JS{
    grid-area: js;
}
#web-credencial-QA{
    grid-area: qa;
}



section#web-credenciales-titulo{
    grid-area: titulo;
}


#web-contactame{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 55% auto;
    height: 100vh;
    grid-template-areas: 
    "header"
    "contactame-menu"
    "formulario"
    "footer"
    ;
}

#web-contatacame-formulario{
    grid-area: formulario;
    justify-self: center;

}
#web-contactame-menu{
 
    grid-area: contactame-menu;
}