@mixin medidas-animaciones($width, $heigth) {
    height: $heigth;
    width: $width;
    
}



@media(min-width: 640px){

    .logo{
        @include medidas-animaciones(4%,4%);

    }

    .logo:hover{
        @include medidas-animaciones(4%,5%);
    }

    .img-proyecto{
        @include medidas-animaciones(100%, 100%);

    }

}



.logo{
    @include medidas-animaciones(4%,4%);
}
.logo:hover{
    @include medidas-animaciones(5%,5%);
}


.img-proyecto{
    @include medidas-animaciones(60%,75%);
}







#menu a:hover {
    font-size: 110%;
}



.card-body:hover{

    font-size: 17px; 

}

