@mixin medidas-animaciones($width, $heigth) {
    height: $heigth;
    width: $width;
    
}


div{
    h4{
        img:hover {
            @include medidas-animaciones(5%,5% )
        }
    }
    h4#skills{
        img:hover {
            @include medidas-animaciones(4%,4%)
        }
    }
}


#menu a:hover {
    font-size: 110%;
}



.card-body:hover{

    font-size: 17px; 

}

