#menu a:hover {
    font-size: 110%;
}

div{
    h4{
        img:hover {
    
            width: 5%;
            height: 5%;

        }
    }
    h4#skills{
        img:hover {
    
            width: 13%;
            height: 13%;

        }

    }
}


.card-body:hover{

    font-size: 17px; 

}

