@import "variables";
.fondo {
    background-color: black;
    background-repeat:repeat;
    background-size: cover;
   
}
header{
    color: $color-contenido;
}
div{

    nav{
        margin: 0%;
        padding: 0%;
    }
    h4 {
        margin: 7px;
        padding: 7px;
        color:  $color-contenido

    }

    p{
        color: $color-contenido;
    }
    h2{
        color:  $color-contenido
    }

    h5{
        color:  $color-contenido
    }
    label{
        color:  $color-contenido
    }
    
}
