#cv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cv-credenciales{
    @extend #cv;
    justify-content:space-around;
    padding: 15px;
}



#inicio{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#proyectos-web{
    display: flex;
    flex-direction: column;
}
