section#cv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cv-credenciales{
    @extend #cv;
    justify-content:space-around;
    padding: 15px;
}

section#contenido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}



#index{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

#inicio{
    display: flex;
    justify-content: center;
    align-items: center;

}

section#proyectos-web{
    display: flex;
    flex-direction: column;
}

#contactame{
    display: flex;
    flex-direction: column;
    height: 100vh;


    padding: 5px;
    margin: 5px;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly
}

#form{
    width: max-content;
    height: max-content;
    padding: 5px;
    margin: 5px;
}
section#sec-form{
    display: flex;
    justify-content: center;
}


img{
    margin: 2px;
    padding: 2px;
}

#card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section#carruseles{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

